HTTP_PORT=8082

DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_URL=jdbc:postgresql://localhost:5433/organization_db

MONGO_URI=mongodb://localhost:27018
MONGO_DATABASE=organization_read_db

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
